
<div id="co_text_<%= co.number %>" class="co_info_wrapper">
	<div class="co_title_line">
		<div class="co_title_num"><%= co.number %></div>
		<div class="co_title_name" id="co_title_name_<%= co.number %>"><%= co.name %> (<%= co.abbreviation %>)</div>
	</div>
	
	
	<div class="co_text_box">
		<span style="font-style: italic">
			Initial Bid:  *<%= co.starting_bid %>
			<%= (i = co.income) != 0 ? " / Income per OR: *"+i.to_s : "" %>
		</span><br /><br />
		<%= co.bonus_text %>
	</div>
	
	<div class="co_text_info" id="co_text_info_<%= co.number %>">
			<span style="color: 
		<% if co.status == "BOUGHT" %>
		
			#a83b46;">Bought by 
			<% s = co.class.to_s %>
			<%= s == "IndependentCompany" ? co.ind_co_owner.customer.username + " (" + co.ind_co_owner.player_number.to_s + ")" : co.priv_co_owner.customer.username + " (" + co.priv_co_owner.player_number.to_s + ")" %>
			for *<%= co.bought_for.to_s %>
			
		<% elsif buy_number == co.number %>
		
			#3e6a4b;">Purchase for *<%= co.starting_bid %>
			
		<% elsif co.bids.empty? %>
		
			#f3e852;">Currently no bids; minimum bid:  *<%= co.starting_bid %>
			
		<% else %>
		
			#f3e852;">Bids: 
			<% s = "" %>
			
			<% co.bids.each do |bid| %>
				<% s+= "(" + bid.player.player_number.to_s + ") *" %>
				<% s+= bid.bid_amount.to_s + "; " %>
			<% end %>
			
			<% s = s.slice(0..s.length-3) %>
			<%= s %>
			
		<% end %>
			</span>
	</div>
</div>
