<%= stylesheet_link_tag "login" %>

<script language=javascript>
	
	$(document).ready(function() {
		$.inputHighlight("#f7e944");
	});
	
</script>

<div class="main_screen">
	
	<div class="login_area">
		<div class="login_area_title">Please Log In:</div>

			<%= form_for(:session, :url=> sessions_path, :html=> { :id =>"login_form" } ) do |f| %>

		<table class="login_area_form">
			<tr>
				<td class="login_area_input_name">Username:&nbsp</td>
				<td><%= f.text_field :username, :size=>15, :class=>"login_input" %></td>
			</tr>
			
			<tr>
				<td class="login_area_input_name">Password:&nbsp</td>
				<td><%= f.password_field :password, :size=>15, :class=>"login_input" %></td>
			</tr>	
			
			<tr>
				<td class="login_area_input_name">Gamecode:&nbsp</td>
				<td><%= f.text_field :gamecode, :size=>15, :class=>"login_input" %></td>
			</tr>		
		
			</table>
			
			<div class="login_submit_line">
				<a onClick="$('#login_form').submit()" onMouseOver="$('.login_submit').css('background-color','#334c84');" onMouseOut="$('.login_submit').css('background-color','black');" class="login_submit">Log In</a>
			</div>
			
			<% end %>
	</div>
</div>
