<%= stylesheet_link_tag "main" %>
<script language=javascript>
	var lastEventNum = <%= @last_event_num %>;
	var interval;
	var ping_time = 6000; 
/*	
	//var interval = self.setInterval("request_update(lastEventNum)", 3000);
	
	//jQuery.first1 = function(message) {
	//	alert(message);
	//}

	jQuery.event_test = function(c, v, t, lastEventID) {
		//interval=window.clearInterval(interval);
		
		switch(c) {
			case 'LOGIN':
				//jQuery.test_me(v);
				//stuff
				break;
			case 'LOGOUT':

				//stuff
				break;
		}
	}
	
	var trythis = function(x) {
		return function() {
			return this.x;
			//$("#login_event_text").fadeOut('slow',function() {
			//	$("#login_event_text").html("eventtest#	"+x).fadeIn('slow', function () { });
			//});
		};	
	};
				
	jQuery.test_me = function (c, v, t, eventID) {
		alert("in test_me: "+c+" / "+c.length+" / "+c[0]+" ? "+c[1]);
		//$.stop_requests();
		
		for (var x = 0, len=eventID.length; x < len; x++) {	
			alert("in loop: "+trythis(x));
			//$("#login_event_text").fadeOut('slow',function() {
			//	$("#login_event_text").html("eventtest#	"+x).fadeIn('slow', function () { });
			//});
		}
		lastEventNum = lastEventID[eventID.length];
		//$.request_login_update();
	}
*/	
	jQuery.stop_requests = function () {
		interval=window.clearInterval(interval);
	}
	
/*	jQuery.request_login_update = function() {
		interval = setInterval(function() {
			$("#login_last_event_num").val(lastEventNum);
			$("#remote_update_form").submit();
		}, ping_time);
	}
*/	
	jQuery.no_updates = function(eventText) {
		$("#login_event_text").fadeOut('slow', function() { 
			$("#login_event_text").html(eventText).fadeIn('slow', function() { });
		});
	}
	
	jQuery.login = function(player_num, te) {
		$("#player_"+player_num).html("[Active!]").css("color","green");
		$("#login_event_text").fadeOut('slow', function() {
			$("#login_event_text").html(te).fadeIn('slow', function() { });
		});	

	}
	
	jQuery.logout = function(player_num, te) {	
		$("#player_"+player_num).html("[Waiting]").css("color","red");
		$("#login_event_text").fadeOut('slow', function () {
			$("#login_event_text").html(te).fadeIn('slow', function() { });
		});
	}
	
	jQuery.redirect = function(new_addr) {
		window.location = new_addr;
	}

	
	jQuery.requestLoginUpdate = function () {

		interval = setInterval(function() {
			$.get('<%= login_update_path %>',
				{ last_event_num : lastEventNum },
				function(data) {
					//do stuff when receive back in JSON
					interval=window.clearInterval(interval); // pause the request for updates.

					$.each(data, function(x, events) {
						$.each(events, function(y, event) {
							switch(event.code) {
								case 'LOGIN_PLAYER':
									$.login(event.value, event.text);
									break;
								case 'LOGOUT_PLAYER':
									$.logout(event.value, event.text);
									break;
								case 'NO_UPDATE':
								
									$.no_updates(event.text);
									break;
								case 'LOGIN':
									$.login(event.value, event.text);
									break;
							}  // end of switch
						
						});
					
					});


					/*					
					for (var x = 0, len = d.length; x < len; x++) {
					
						switch(d[x].event.code) {
							case 'LOGIN_PLAYER':
								$.login(d[x].event.value, d[x].event.text);
								break;
							case 'LOGOUT_PLAYER':
								$.logout(d[x].event.value, d[x].event.text);
								break;
							case 'NO_UPDATE':
								$.no_updates(d[x].event.text);
								break;
							case 'LOGIN':
								$.login(d[x].event.value, d[x].event.text);
								break;
						}  // end of switch
					}  // end of for loop
					
					*/
					
					lastEventNum = data[data.length-1].event.id;
					$.requestLoginUpdate();
				}, "json"
			);
		}, ping_time);
	};


(function($) {

	$.fn.showLinkLocation = function () {
		return this.each(function () {
			$(this).html("wow!");
		});
	};

}(jQuery));


	
	$(document).ready(function() {
	//	$.event_handler("LOGIN",5,"Player 5 in",$.event_handler("LOGOUT",3,"Player 3 out"));
		$.requestLoginUpdate();
		$('p').click(function() { $(this).slideUp('fast',function () { }); } );
		$('#ohmy').click(function() { $('p').slideDown('fast', function () { $('p').html("WOW"); }); });
		

		
	});
	
</script>

<button onclick="interval=window.clearInterval(interval)">stop</button>
<button onclick="$.request_login_update()">start</button>
<a href='http://www.zerohedge.com'>location!</a>
<%= button_to "Logout", session_path(this_player), :method=>:delete %>

<div class="wrapper">

	<div class="login_graphic">
		<%= image_tag "2038_box_cover.jpg" %>
	</div>
	
	<div class="login_area">
		
		<div class="login_box">
			<br />
			<span style="font-weight: bold;">
				Waiting for more players...
			</span>
		
			<br />
			<br />
			<hr />		
			<br />
			<% @players.each do |player| %>
				<%= render player %>
			<% end %>
			<br />
			<hr />
			<br />
			Link to the rules while waiting...
			<br />
			<br />
			<hr />
			<br />
			<div id="login_event_text">
			# event_text here with fancy fade stuff
			</div>
		</div>
	</div>
</div>


<br />
<p class="test">123</p><p class="test">456</p><p class="test">789</p>
<div id="ohmy">bitchz!</div>

<%= form_for :login, :url => { :controller=>:login, :action=>:update }, :html => {:method=>:get, :id => "remote_update_form"} , :remote=>true do |f| %>
 <%= f.hidden_field :last_event_num, :value => "0" %>
 <%= f.submit "try the form!" %>
<% end %>
